---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-mandiri-demo","name":"Nobu nagawa","expected_amount":500000,"is_closed":true,"bank_code":"BNI"}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50XzZqcEJJQVE5dktiR1ZKQnV1dlEzYlRvZDExbWNhTjh4ZW96MWZNc1BXOGtBaEhub3MzVE5ueWVZWTBJN3BLUTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15e-TuOzR8oWjaZp00AacDlsBtyVO0c"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 1-3358727-3336304 pNNN RT(1583466774695 19) q(0 0 0 -1) r(5 5) U6
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"PENDING","currency":"IDR","owner_id":"5ddce91d9c5c2f7670ebf42a","external_id":"sample-mandiri-demo","bank_code":"BNI","merchant_code":"8808","name":"Nobu
        nagawa","account_number":"8808999974252918","expected_amount":500000,"is_single_use":false,"expiration_date":"2051-03-05T17:00:00.000Z","id":"5e61c9187f26b138b0580d65"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
recorded_with: VCR 4.0.0
