---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-mandiri-demo","name":"Nobu nagawa","expected_amount":500000,"suggested_amount":500000,"is_closed":true,"is_single_use":true,"bank_code":"BRI"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"177-lYc7cn4/AqkmAZLjTHUumCMnWpk"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 10-2095221-2084005 pNNN RT(1583467968711 54) q(0 0 0 -1) r(7 7) U6
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"PENDING","currency":"IDR","owner_id":"5ddce91d9c5c2f7670ebf42a","external_id":"sample-mandiri-demo","bank_code":"BRI","merchant_code":"26215","name":"Nobu
        nagawa","account_number":"262159999957587","suggested_amount":500000,"expected_amount":500000,"is_single_use":true,"expiration_date":"2051-03-05T17:00:00.000Z","id":"5e61cdc239334c3592100a7b"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
recorded_with: VCR 4.0.0
