---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/callback_virtual_accounts/5e61eaa339334c3592100a9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15e-hzZhppKEgq7nraHTKuz6wncWNp8"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 11-2837834-2767547 pNNN RT(1583475362800 17) q(0 0 0 -1) r(4 4) U16
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"PENDING","currency":"IDR","owner_id":"5ddce91d9c5c2f7670ebf42a","external_id":"sample-mandiri-demo","bank_code":"BNI","merchant_code":"8808","name":"Nobu
        nagawa","account_number":"8808999935825766","expected_amount":100000,"is_single_use":false,"expiration_date":"2051-03-05T17:00:00.000Z","id":"5e61eaa339334c3592100a9e"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
recorded_with: VCR 4.0.0
