---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/callback_virtual_accounts/5e61d90539334c3592100a91
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17a-b9GT8fqKKYh3tj6hnztRfCbnpAQ"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 13-5704477-5631860 pNNN RT(1583470852419 17) q(0 0 0 -1) r(4 4) U16
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"ACTIVE","currency":"IDR","owner_id":"5ddce91d9c5c2f7670ebf42a","external_id":"sample-mandiri-demo","bank_code":"MANDIRI","merchant_code":"88908","name":"Nobu
        nagawa","account_number":"889089999148969","suggested_amount":100000,"expected_amount":100000,"is_single_use":true,"expiration_date":"2051-03-05T17:00:00.000Z","id":"5e61d90539334c3592100a91"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
recorded_with: VCR 4.0.0
