---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/callback_virtual_accounts/5e61e9c77f26b138b0580d89
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"177-jI9SMlAfOk4vNICzT8KK0nPgwXQ"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 14-11812284-11595712 pNNN RT(1583475142618 18) q(0 0 0 0) r(5 5) U16
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"PENDING","currency":"IDR","owner_id":"5ddce91d9c5c2f7670ebf42a","external_id":"sample-mandiri-demo","bank_code":"BRI","merchant_code":"26215","name":"Nobu
        nagawa","account_number":"262159999653354","suggested_amount":100000,"expected_amount":100000,"is_single_use":true,"expiration_date":"2051-03-05T17:00:00.000Z","id":"5e61e9c77f26b138b0580d89"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
recorded_with: VCR 4.0.0
