---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-mandiri-demo","name":"Nobu nagawa","expected_amount":500000,"is_closed":true,"is_single_use":true,"bank_code":"MANDIRI"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14f-kz6FPG9RCxbse4zXWbWG+YPuHCk"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 6-3027831-3027832 nNNN RT(1611292101763 25) q(0 0 4 -1) r(6 11) U6
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"PENDING","currency":"IDR","owner_id":"5ddce91d9c5c2f7670ebf42a","external_id":"sample-mandiri-demo","bank_code":"MANDIRI","merchant_code":"88908","name":"Nobu
        nagawa","account_number":"889089999100698","suggested_amount":500000,"expected_amount":500000,"is_single_use":true,"expiration_date":"2051-03-05T17:00:00.000Z","id":"5e61c99339334c3592100a71", "hello": "world"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
recorded_with: VCR 5.1.0
