---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-mandiri-demo","name":"Nobu nagawa","amount":500000,"bank_code":"MANDIRI","expected_amount":500000,"is_closed":true,"is_single_use":true}'
    headers:
      Authorization:
      - <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14f-1z0Ayo62kwgguxnxR6ErE2Wfu7o"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 4-11737835-11605450 pNYN RT(1625926729521 42) q(0 0 0 -1) r(12 12) U6
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"ACTIVE","owner_id":"596d988e56b5a3c45be75e6e","external_id":"sample-mandiri-demo","bank_code":"MANDIRI","merchant_code":"88908","name":"Nobu
        nagawa","account_number":"889081063751567","expected_amount":500000,"is_single_use":true,"expiration_date":"2052-07-09T17:00:00.000Z","id":"60e9ac4b3b5b0e54151b9d5a"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
