---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-mandiri-demo","name":"Nobu nagawa","expected_amount":500000,"is_closed":true,"is_single_use":true,"bank_code":"RANDOM_BANK_CODE"}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0lNN2NzeUc0bTNjeVBPVWJwUG02VU51MHozWmtBZXNGR3dnbXVjdXk4NFBRS1NSS2xuWUdlNllqMkphNVVtQjo=
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f-QT5uPuiNOY3r1VmfAOuS0SRcxOs"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 10-6320570-6234695 pNYN RT(1602487174262 31) q(0 0 0 -1) r(5 5) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"BANK_NOT_SUPPORTED_ERROR","message":"That bank code
        is not currently supported"}'
  recorded_at: Mon, 12 Oct 2020 07:19:35 GMT
recorded_with: VCR 5.1.0
