---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-mandiri-demo","name":"Nobu nagawa","expected_amount":50000000001,"is_closed":true,"is_single_use":true,"bank_code":"MANDIRI"}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0lNN2NzeUc0bTNjeVBPVWJwUG02VU51MHozWmtBZXNGR3dnbXVjdXk4NFBRS1NSS2xuWUdlNllqMkphNVVtQjo=
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"74-PqziW7SVrDJ2MbnFynwNXFzs29k"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 12-9027382-9015967 pNYN RT(1602487175287 16) q(0 0 0 -1) r(6 6) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"MAXIMUM_EXPECTED_AMOUNT_ERROR","message":"The maximum
        Expected Amount for MANDIRI VA is 50000000000"}'
  recorded_at: Mon, 12 Oct 2020 07:19:36 GMT
recorded_with: VCR 5.1.0
