---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":null,"name":null,"expected_amount":null,"is_closed":true,"is_single_use":true,"bank_code":"MANDIRI"}'
    headers:
      Authorization:
      - Basic ***REMOVED***
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ce-f2osmKiWwek4HfxPjoPvEZJobnA"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 7-7388017-7173514 pNYN RT(1602487174828 19) q(0 0 0 -1) r(4 4) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"API_VALIDATION_ERROR","message":"There was an error
        with the format submitted to the server.","errors":[{"field":["external_id"],"location":"body","messages":["\"external_id\"
        must be a string"],"types":["string.base"]},{"field":["name"],"location":"body","messages":["\"name\"
        must be a string"],"types":["string.base"]},{"field":["expected_amount"],"location":"body","messages":["\"expected_amount\"
        must be a number"],"types":["number.base"]}]}'
  recorded_at: Mon, 12 Oct 2020 07:19:35 GMT
recorded_with: VCR 5.1.0
