---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-mandiri-demo","name":"Nobu nagawa","expected_amount":0,"is_closed":true,"is_single_use":true,"bank_code":"MANDIRI"}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0lNN2NzeUc0bTNjeVBPVWJwUG02VU51MHozWmtBZXNGR3dnbXVjdXk4NFBRS1NSS2xuWUdlNllqMkphNVVtQjo=
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a-1JXt09nfnEcS2SUQ2xGe0d35ZZk"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 5-12586695-12513047 pNYy RT(1602487093937 39) q(0 0 0 -1) r(12 12) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"MINIMUM_EXPECTED_AMOUNT_ERROR","message":"The minimum
        Expected Amount for MANDIRI VA is 1"}'
  recorded_at: Mon, 12 Oct 2020 07:18:15 GMT
recorded_with: VCR 5.1.0
