---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-without-amount","name":"Nobu nagawa","is_closed":false,"is_single_use":false,"bank_code":"MANDIRI"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13a-n8wxuIwzpsz4olsJKajVn2480Ng"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 10-8330882-8256259 pNYN RT(1626234411033 70) q(0 0 0 4) r(9 9) U6
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":false,"status":"ACTIVE","owner_id":"596d988e56b5a3c45be75e6e","external_id":"sample-without-amount","bank_code":"MANDIRI","merchant_code":"88608","name":"Nobu
        nagawa","account_number":"886081063716580","is_single_use":false,"expiration_date":"2052-07-13T17:00:00.000Z","id":"60ee5e2cc8ecb92a480fb6fd"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
recorded_with: VCR 6.0.0
