---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-mandiri-demo","name":"Nobu nagawa","expected_amount":500000,"is_closed":true,"is_single_use":true,"bank_code":"MANDIRI"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14f-AB0VPRB1adfC0NCiZR1oxwVeJfI"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 11-16889280-16859987 pNYN RT(1625647587701 99) q(0 1 1 -1) r(12 12) U6
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"ACTIVE","owner_id":"596d988e56b5a3c45be75e6e","external_id":"sample-mandiri-demo","bank_code":"MANDIRI","merchant_code":"88908","name":"Nobu
        nagawa","account_number":"889081063774746","expected_amount":500000,"is_single_use":true,"expiration_date":"2052-07-06T17:00:00.000Z","id":"60e569e4ddf4a1b01fa12a9e"}'
  recorded_at: Wed, 07 Jul 2021 08:46:29 GMT
- request:
    method: patch
    uri: https://api.xendit.co/callback_virtual_accounts/60e569e4ddf4a1b01fa12a9e
    body:
      encoding: UTF-8
      string: '{"expected_amount":-100000}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6a-1JXt09nfnEcS2SUQ2xGe0d35ZZk"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-41966981-41803098 pNNN RT(1625647589121 105) q(0 0 0 -1) r(7 7) U6
    body:
      encoding: UTF-8
      string: '{"error_code":"MINIMUM_EXPECTED_AMOUNT_ERROR","message":"The minimum
        Expected Amount for MANDIRI VA is 1"}'
  recorded_at: Wed, 07 Jul 2021 08:46:30 GMT
recorded_with: VCR 6.0.0
