---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/callback_virtual_accounts/5ff2dd35e1b82c4028aeb918
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14f-uTqAOqq/+Rl1W2FmeAMCOWMcZ3o"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 3-39457792-39441542 pNNN RT(1609752050938 34) q(0 0 0 -1) r(5 5) U16
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"ACTIVE","owner_id":"596d988e56b5a3c45be75e6e","external_id":"sample-mandiri-demo","bank_code":"MANDIRI","merchant_code":"88908","name":"Nobu
        nagawa","account_number":"889081063719211","expected_amount":500000,"is_single_use":true,"expiration_date":"2052-01-03T17:00:00.000Z","id":"5ff2dd35e1b82c4028aeb918"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
- request:
    method: patch
    uri: https://api.xendit.co/callback_virtual_accounts/5ff2dd35e1b82c4028aeb918
    body:
      encoding: UTF-8
      string: '{"expected_amount":500000,"expiration_date":"2019-05-05T00:00:00+00:00"}'
    headers:
      Authorization:
      - Basic ***REMOVED***
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"151-qJLjsyDwcMZNWwYVshiWbyxyvjM"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 13-43913752-43864091 pNNN RT(1609752051758 30) q(0 0 0 -1) r(6 6) U6
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"INACTIVE","owner_id":"596d988e56b5a3c45be75e6e","external_id":"sample-mandiri-demo","bank_code":"MANDIRI","merchant_code":"88908","name":"Nobu
        nagawa","account_number":"889081063719211","expected_amount":500000,"is_single_use":true,"expiration_date":"2019-05-05T00:00:00.000Z","id":"5ff2dd35e1b82c4028aeb918"}'
  recorded_at: Tue, 05 May 2020 00:00:00 GMT
recorded_with: VCR 5.1.0
