---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/callback_virtual_accounts
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-mandiri-demo","name":"Nobu nagawa","expected_amount":500000,"is_closed":true,"is_single_use":true,"bank_code":"MANDIRI"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14f-cGB6TlRvyt8VaDKOpXZDSVtiHlg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-30412578-30403744 pNYN RT(1625647338879 98) q(0 0 0 -1) r(11 11) U6
    body:
      encoding: ASCII-8BIT
      string: '{"is_closed":true,"status":"ACTIVE","owner_id":"596d988e56b5a3c45be75e6e","external_id":"sample-mandiri-demo","bank_code":"MANDIRI","merchant_code":"88908","name":"Nobu
        nagawa","account_number":"889081063765256","expected_amount":500000,"is_single_use":true,"expiration_date":"2052-07-06T17:00:00.000Z","id":"60e568eb908eba71aa1726ae"}'
  recorded_at: Wed, 07 Jul 2021 08:42:20 GMT
- request:
    method: patch
    uri: https://api.xendit.co/callback_virtual_accounts/60e568eb908eba71aa1726ae
    body:
      encoding: UTF-8
      string: '{"expected_amount":100000,"expiration_date":"2019-11-12T23:46:00.000Z"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"151-LV19j0bCy30uT+pOe3BgsGuUhUo"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 3-14918090-14918095 nNNN RT(1625647340281 131) q(0 0 2 -1) r(3 9) U6
    body:
      encoding: UTF-8
      string: '{"is_closed":true,"status":"INACTIVE","owner_id":"596d988e56b5a3c45be75e6e","external_id":"sample-mandiri-demo","bank_code":"MANDIRI","merchant_code":"88908","name":"Nobu
        nagawa","account_number":"889081063765256","expected_amount":100000,"is_single_use":true,"expiration_date":"2019-11-12T23:46:00.000Z","id":"60e568eb908eba71aa1726ae"}'
  recorded_at: Wed, 07 Jul 2021 08:42:21 GMT
recorded_with: VCR 6.0.0
