---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/credit_card_charges
    body:
      encoding: UTF-8
      string: '{"token":"dc3404a5ceb56650f493f076a1b46c01","card_cvv":"123","external_id":"d45bf4d4fdef9231c5b37a3d4ac80777"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f9-C0aGw8vHeuCb1tJtBUBe5PNjh8M"
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-6886500-6628387 pNYN RT(1627722263738 58) q(0 0 0 1) r(5 5) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"INVALID_TOKEN_ID_ERROR","message":"Invalid charge"}'
  recorded_at: Sat, 31 Jul 2021 09:04:24 GMT
recorded_with: VCR 6.0.0
