---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/disbursements/?external_id=sample-external-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1cb-kG7D3Y3jVYTlBfZyl0tlPONZCMc"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-41001618-40940312 pNYN RT(1629257179171 84) q(0 0 0 -1) r(6 6) U16
    body:
      encoding: ASCII-8BIT
      string: '[{"status":"PENDING","user_id":"596d988e56b5a3c45be75e6e","external_id":"sample-external-id","amount":15000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","disbursement_description":"Payment","id":"611c7d118267c40017c1e1d6"},{"status":"PENDING","user_id":"596d988e56b5a3c45be75e6e","external_id":"sample-external-id","amount":15000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","disbursement_description":"Payment","id":"611c7d0b9d2d310018d113b9"}]'
  recorded_at: Wed, 18 Aug 2021 03:26:20 GMT
recorded_with: VCR 6.0.0
