---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/transfers/reference=Automation-ref-1692074901
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: FILTERED_AUTH_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Rate-Limit-Limit:
      - '3000'
      Rate-Limit-Remaining:
      - '2999'
      Rate-Limit-Reset:
      - '60'
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 16-63530251-63529813 pNYy RT(1693897700416 95) q(0 0 0 -1) r(1 1) U16
    body:
      encoding: ASCII-8BIT
      string: '{"transfer_id":"76f3df37-42c0-416d-ad12-ad4a83a5016c","source_user_id":"64b11b9ced2bdbd698bb8042","destination_user_id":"64be49141c09d491c945e056","amount":10000,"reference":"Automation-ref-1692074901","status":"SUCCESSFUL","created":"2023-08-15T04:48:21.724061Z"}

        '
  recorded_at: Tue, 05 Sep 2023 07:08:20 GMT
recorded_with: VCR 6.0.0
