---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/qr_codes
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-qr-code","type":"DYNAMIC","callback_url":"https://webhook.site/cc1e188a-cd5a-4a7e-b7f9-413a2289b580","amount":100000}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b-/VZUuBlNr/bVpgT4rHwxNv5GB8I"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 10-31959455-31959471 nNYN RT(1630997147790 145) q(0 0 2 -1) r(3 13) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"DUPLICATE_ERROR","message":"Duplicated external_id sample-qr-code,
        external_id must be unique per request."}'
  recorded_at: Tue, 07 Sep 2021 06:45:49 GMT
recorded_with: VCR 6.0.0
