---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/qr_codes
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-qr-code","type":"DYNAMIC","callback_url":"https://webhook.site/cc1e188a-cd5a-4a7e-b7f9-413a2289b580","amount":50000000}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d-8OpQXuIZuNg/rX+6vKA+LlfyfFU"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-72452933-72451156 pNYN RT(1630997779070 100) q(0 0 0 0) r(11 11) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"API_VALIDATION_ERROR","message":"Amount must be within
        range [1500, 5000000]"}'
  recorded_at: Tue, 07 Sep 2021 06:56:20 GMT
recorded_with: VCR 6.0.0
