---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/qr_codes/payments?external_id=sample-qr-code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"138-hbBwgTEEDEVQIE2CS3PkuuAxtZY"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 7-51694190-51694196 nNYN RT(1631004398832 100) q(0 0 2 -1) r(3 13) U16
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"qrpy_dd3591a4-3dda-4b96-bd82-d3fc05e1a902","amount":100000,"created":"2021-09-07T08:40:52.876Z","qr_code":{"id":"qr_0c5dab3c-eaac-4348-bb43-4e4884425dd8","external_id":"sample-qr-code","qr_string":"mock-QR-string-use-simulate-payment-to-test-flow","type":"DYNAMIC","metadata":null},"status":"COMPLETED"}]'
  recorded_at: Tue, 07 Sep 2021 08:46:40 GMT
recorded_with: VCR 6.0.0
