---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/qr_codes
    body:
      encoding: UTF-8
      string: '{"external_id":"sample-qr-code","type":"DYNAMIC","callback_url":"https://webhook.site/cc1e188a-cd5a-4a7e-b7f9-413a2289b580","amount":100000}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"177-ZvpR0znKzW3DwEQ6LVfDVfbuFQw"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 2-19389317-19389321 nNYN RT(1630996646792 119) q(0 0 2 1) r(3 14) U6
    body:
      encoding: ASCII-8BIT
      string: '{"id":"qr_0c5dab3c-eaac-4348-bb43-4e4884425dd8","external_id":"sample-qr-code","amount":100000,"description":"","qr_string":"mock-QR-string-use-simulate-payment-to-test-flow","callback_url":"https://webhook.site/cc1e188a-cd5a-4a7e-b7f9-413a2289b580","type":"DYNAMIC","status":"ACTIVE","created":"2021-09-07T06:37:28.827Z","updated":"2021-09-07T06:37:28.827Z","metadata":null, "hello":"world"}'
  recorded_at: Tue, 07 Sep 2021 06:37:29 GMT
recorded_with: VCR 6.0.0
