---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/disbursements?external_id=d28aac6a-03c8-46d0-ac03-43b6278b35eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11f-3+UVlkK0pGjl3VvLUb2HwWTIkd4"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-9823368-9591682 pNYN RT(1627711029689 75) q(0 0 0 -1) r(5 5) U16
    body:
      encoding: ASCII-8BIT
      string: '[{"status":"COMPLETED","user_id":"596d988e56b5a3c45be75e6e","external_id":"d28aac6a-03c8-46d0-ac03-43b6278b35eb","amount":90000,"bank_code":"BNI","account_holder_name":"Jesse
        Pinkman","disbursement_description":"Disbursement July 2021","is_instant":true,"id":"6103db4e48f6e8002177468b"}]'
  recorded_at: Sat, 31 Jul 2021 05:57:11 GMT
recorded_with: VCR 6.0.0
