---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/disbursements?external_id=sample-external-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"396-YcIajocLS71ybhaoGCXP2/mda2U"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 9-13895075-13788617 pNYN RT(1629262324570 68) q(0 0 0 -1) r(5 5) U16
    body:
      encoding: ASCII-8BIT
      string: '[{"status":"PENDING","user_id":"596d988e56b5a3c45be75e6e","external_id":"sample-external-id","amount":200000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","disbursement_description":"Payment","id":"611c9138adc5830024d3a018"},{"status":"PENDING","user_id":"596d988e56b5a3c45be75e6e","external_id":"sample-external-id","amount":15000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","disbursement_description":"Payment","id":"611c90e34656260017d4a03a"},{"status":"PENDING","user_id":"596d988e56b5a3c45be75e6e","external_id":"sample-external-id","amount":15000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","disbursement_description":"Payment","id":"611c7d118267c40017c1e1d6"},{"status":"PENDING","user_id":"596d988e56b5a3c45be75e6e","external_id":"sample-external-id","amount":15000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","disbursement_description":"Payment","id":"611c7d0b9d2d310018d113b9"}]'
  recorded_at: Wed, 18 Aug 2021 04:52:05 GMT
recorded_with: VCR 6.0.0
