---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/transactions?invalid_query
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f8-5+LnPYeUvrrb8XbhHL8Fq/4oiEY"
      Rate-Limit-Limit:
      - '3000'
      Rate-Limit-Remaining:
      - '2999'
      Rate-Limit-Reset:
      - '60'
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-687869481-687552528 pNYN RT(1672117836837 100) q(0 0 0 1) r(10 10) U16
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Unknown query parameter ''invalid_query''","error":"API_VALIDATION_ERROR","error_code":"API_VALIDATION_ERROR","status_code":400,"validation":{"errors":[{"path":".query.invalid_query","message":"Unknown
        query parameter ''invalid_query''"}]}}'
  recorded_at: Tue, 27 Dec 2022 05:10:38 GMT
recorded_with: VCR 6.0.0
