---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X080NkpmT3R5Z2VmOWtNTnNLK1pQR1QrWlo5YjNvb0Y0dzNEbitSMWsrMmZULzdHbENBTjNqZz09Ojo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a2a-cfCulY5hcHHSp9RM4tbYjd5nDnQ"
      Rate-Limit-Limit:
      - '3000'
      Rate-Limit-Remaining:
      - '2995'
      Rate-Limit-Reset:
      - '1.11'
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-588627785-588617801 pNYN RT(1672112982222 97) q(0 0 0 -1) r(10 10) U16
    body:
      encoding: ASCII-8BIT
      string: '{"has_more":true,"data":[{"id":"txn_c89ffd4d-4012-48d1-b446-4490d0f647ee","product_id":"disb-47c7db3b-2714-4839-b0de-7f1779d8c17a","type":"DISBURSEMENT","status":"SUCCESS","channel_category":"EWALLET","channel_code":"ID_DANA","reference_id":"000111111","account_identifier":"000000000","currency":"IDR","amount":1001,"net_amount":6551,"cashflow":"MONEY_OUT","settlement_status":null,"estimated_settlement_time":null,"business_id":"57fdbb445eec38910d3a4c47","created":"2022-12-20T08:19:57.857Z","updated":"2022-12-20T08:20:05.546Z","fee":{"xendit_fee":5000,"value_added_tax":550,"xendit_withholding_tax":0,"third_party_withholding_tax":0,"status":"COMPLETED"}},{"id":"txn_8c7410f3-2d86-4048-bccf-2fe95543a8ac","product_id":"disb-372d4e97-a4f1-4719-8a09-e836e058a15a","type":"DISBURSEMENT","status":"SUCCESS","channel_category":"BANK","channel_code":"ID_BCA","reference_id":"sample-successful-create-php-payout","account_identifier":"0000000000","currency":"IDR","amount":1,"net_amount":5551,"cashflow":"MONEY_OUT","settlement_status":null,"estimated_settlement_time":null,"business_id":"57fdbb445eec38910d3a4c47","created":"2022-12-19T0[...]
