---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"7f156109-5f7a-479a-84db-f59c5ab38766","currency":"IDR","amount":10101,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6282310202012"}}'
    headers:
      Authorization:
      - Basic ***REMOVED***
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-10330059-10220430 pNYN RT(1624243876104 57) q(0 0 0 -1) r(13 13) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"CHANNEL_UNAVAILABLE","message":"The payment channel
        requested is currently experiencing unexpected issues. The eWallet provider
        will be notified to resolve this issue."}

'
  recorded_at: Mon, 21 Jun 2021 02:51:18 GMT
recorded_with: VCR 6.0.0
