---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"fa37759f-6bb0-4b7f-9701-2b6f43af01c9","currency":"IDR","amount":10100,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6282310202012"}}'
    headers:
      Authorization:
      - Basic ***REMOVED***
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-9485610-9433503 pNYN RT(1624243394933 47) q(0 0 0 -1) r(13 13) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"CHANNEL_NOT_ACTIVATED","message":"Payment request failed
        because this specific payment channel has not been activated. Please activate
        the payment channel via your dashboard or our customer service."}

'
  recorded_at: Mon, 21 Jun 2021 02:43:16 GMT
recorded_with: VCR 6.0.0
