---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"434c9cc3-72ab-4ec0-82ba-488d040c15c1","currency":"IDR","amount":10102,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6282310202012"}}'
    headers:
      Authorization:
      - Basic ***REMOVED***
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 1-1775280-1775055 pNYN RT(1624243916602 48) q(0 0 0 -1) r(20 20) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"SERVER_ERROR","message":"An unexpected error occurred,
        our team has been notified and will troubleshoot the issue."}

'
  recorded_at: Mon, 21 Jun 2021 02:51:59 GMT
recorded_with: VCR 6.0.0
