---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/available_virtual_account_banks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Og==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ec-26QY5/W0aq3WeJziY4K4xk8CQUs"
      Surrogate-Control:
      - no-store
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"There was an error
        with the format submitted to the server.","errors":[{"field":["api_key"],"location":"body","messages":["\"api_key\"
        is not allowed to be empty"],"types":["any.empty"]}]}'
  recorded_at: Wed, 20 Mar 2019 03:38:29 GMT
recorded_with: VCR 4.0.0
