---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"123","currency":"IDR","amount":4000,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6282310202012"}}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0lNN2NzeUc0bTNjeVBPVWJwUG02VU51MHozWmtBZXNGR3dnbXVjdXk4NFBRS1NSS2xuWUdlNllqMkphNVVtQjo=
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 9-15454787-15418900 pNYN RT(1623914268807 12) q(0 0 0 -1) r(12 12) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"DUPLICATE_ERROR","message":"There is already a charge
        request with the same reference_id."}

'
  recorded_at: Thu, 17 Jun 2021 07:17:50 GMT
recorded_with: VCR 6.0.0
