---
http_interactions:
  - request:
      method: post
      uri: https://api.xendit.co/ewallets
      body:
        encoding: UTF-8
        string: '{"external_id":"123","amount":9999,"phone":"082310202299","ewallet_type":"OVO"}'
      headers:
        Authorization:
          - Basic eG5kX2RldmVsb3BtZW50XzZqcEJJQVE5dktiR1ZKQnV1dlEzYlRvZDExbWNhTjh4ZW96MWZNc1BXOGtBaEhub3MzVE5ueWVZWTBJN3BLUTo=
        Content-Type:
          - application/json
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"90-0D64lM5aqivQSqWLJOyHde6fgE8"
        Surrogate-Control:
          - no-store
        X-Cdn:
          - Incapsula
        X-Iinfo:
          - 5-39803932-39719693 pNYN RT(1574997360437 20) q(0 0 0 -1) r(23 23) U6
      body:
        encoding: ASCII-8BIT
        string: '{"error_code":"UNKNOWN_ERROR","message":"Unknown error was triggered"}'
    recorded_at: Fri, 29 Nov 2019 03:16:03 GMT
recorded_with: VCR 4.0.0
