---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"125","currency":"IDR","amount":10100,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6282310202012"}}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-39276814-39188979 pNYN RT(1623917299057 49) q(0 0 0 0) r(12 12) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"CHANNEL_NOT_ACTIVATED","message":"Payment request failed
        because this specific payment channel has not been activated. Please activate
        the payment channel via your dashboard or our customer service."}

'
  recorded_at: Thu, 17 Jun 2021 08:08:20 GMT
recorded_with: VCR 6.0.0
