---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"125","currency":"IDR","amount":10102,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6282310202012"}}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 11-27368297-27287543 pNYN RT(1623919880692 49) q(0 0 0 0) r(21 21) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"SERVER_ERROR","message":"An unexpected error occurred,
        our team has been notified and will troubleshoot the issue."}

'
  recorded_at: Thu, 17 Jun 2021 08:51:23 GMT
recorded_with: VCR 6.0.0
