---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"nuba@mekari.com","currency":"IDR","amount":1000,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"0"}}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-2951177-2914426 pNYN RT(1623918014736 142) q(0 0 0 0) r(15 15) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"API_VALIDATION_ERROR","message":"Failed to validate
        the request, 1 error occurred.","errors":[{"path":"body.channel_properties.mobile_number","message":"JSON
        string doesn''t match the regular expression \"^\\\\+?[1-9]\\\\d{1,14}$\""}]}

'
  recorded_at: Thu, 17 Jun 2021 08:20:17 GMT
recorded_with: VCR 6.0.0
