---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"125","currency":"IDR","amount":10101,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6282310202012"}}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0lNN2NzeUc0bTNjeVBPVWJwUG02VU51MHozWmtBZXNGR3dnbXVjdXk4NFBRS1NSS2xuWUdlNllqMkphNVVtQjo=
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-4116595-4097276 pNYN RT(1623918250303 47) q(0 0 0 5) r(16 16) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"CHANNEL_UNAVAILABLE","message":"The payment channel
        requested is currently experiencing unexpected issues. The eWallet provider
        will be notified to resolve this issue."}

'
  recorded_at: Thu, 17 Jun 2021 08:24:12 GMT
recorded_with: VCR 6.0.0
