---
http_interactions:
  - request:
      method: get
      uri: https://api.xendit.co/ewallets?external_id=12345
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Authorization:
          - Basic eG5kX2RldmVsb3BtZW50XzZqcEJJQVE5dktiR1ZKQnV1dlEzYlRvZDExbWNhTjh4ZW96MWZNc1BXOGtBaEhub3MzVE5ueWVZWTBJN3BLUTo=
    response:
      status:
        code: 403
        message: Forbidden
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"65-7RodLm2Yd+aG5gryRIKnut/G6Yg"
        Surrogate-Control:
          - no-store
        X-Cdn:
          - Incapsula
        X-Iinfo:
          - 14-42242934-42066671 pNNN RT(1574913974166 32) q(0 0 0 0) r(4 4) U16
      body:
        encoding: ASCII-8BIT
        string: '{"amount":1000,"external_id":"12345","transaction_date":"2019-04-07T01:35:46.658Z","business_id":"12121212","ewallet_type":"OVO","status":"COMPLETED"}'
    recorded_at: Thu, 28 Nov 2019 04:06:15 GMT
recorded_with: VCR 4.0.0
