---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/ewallets/charges/ewc_b66bb767-be7e-4247-8a75-2a970a749e46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0lNN2NzeUc0bTNjeVBPVWJwUG02VU51MHozWmtBZXNGR3dnbXVjdXk4NFBRS1NSS2xuWUdlNllqMkphNVVtQjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-1163102-1157195 pNYN RT(1623975508550 80) q(0 0 0 0) r(12 12) U16
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ewc_b66bb767-be7e-4247-8a75-2a970a749e46","business_id":"12121212","reference_id":"nobu@mekari.com","status":"SUCCEEDED","currency":"IDR","charge_amount":1000,"capture_amount":1000,"refunded_amount":null,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6281234567890"},"actions":null,"is_redirect_required":false,"callback_url":"https://webhook.site/6eef288c-e4ac-4b1b-a453-bbdde612af6b","created":"2021-06-17T03:26:11.253Z","updated":"2021-06-17T03:26:11.263Z","void_status":null,"voided_at":null,"capture_now":true,"customer_id":null,"payment_method_id":null,"failure_code":null,"basket":null,"metadata":null}

'
  recorded_at: Fri, 18 Jun 2021 00:18:30 GMT
recorded_with: VCR 6.0.0
