---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"nobu@mekari.com","currency":"IDR","amount":1000,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6281234567890"}}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0lNN2NzeUc0bTNjeVBPVWJwUG02VU51MHozWmtBZXNGR3dnbXVjdXk4NFBRS1NSS2xuWUdlNllqMkphNVVtQjo=
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-62765504-62627016 pNYN RT(1623900369467 58) q(0 0 0 1) r(13 13) U6
    body:
      encoding: ASCII-8BIT
      string: '{"id":"ewc_b66bb767-be7e-4247-8a75-2a970a749e46","business_id":"12121212","reference_id":"nobu@mekari.com","status":"PENDING","currency":"IDR","charge_amount":1000,"capture_amount":1000,"refunded_amount":null,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6281234567890"},"actions":null,"is_redirect_required":false,"callback_url":"https://webhook.site/6eef288c-e4ac-4b1b-a453-bbdde612af6b","created":"2021-06-17T03:26:11.253Z","updated":"2021-06-17T03:26:11.253Z","void_status":null,"voided_at":null,"capture_now":true,"customer_id":null,"payment_method_id":null,"failure_code":null,"basket":null,"metadata":null}

'
  recorded_at: Thu, 17 Jun 2021 03:26:11 GMT
recorded_with: VCR 6.0.0
