---
http_interactions:
- request:
    method: get
    uri: https://api.xendit.co/v2/accounts/6395b67e1d1c372abc34bde8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: FILTERED_AUTH_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fa-5BJrm+Edvg8fOi0rtLp4Ge2hMIk"
      Rate-Limit-Limit:
      - '60'
      Rate-Limit-Remaining:
      - '59'
      Rate-Limit-Reset:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"6395b67e1d1c372abc34bde8","created":"2022-12-11T10:52:46.586Z","updated":"2022-12-11T10:52:48.272Z","email":"philip.lambok+testingapi@mekari.com","type":"OWNED","public_profile":{"business_name":"Philip
        Lambok"},"country":"ID","status":"LIVE"}'
  recorded_at: Thu, 13 Feb 2025 10:00:21 GMT
recorded_with: VCR 6.1.0
