---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"9c833514-c47d-49f2-adb0-f49ab88a5f44","currency":"IDR","amount":1000,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"0"}}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 9-3712387-3672018 pNYN RT(1624243103504 85) q(0 0 0 -1) r(11 11) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"API_VALIDATION_ERROR","message":"Failed to validate
        the request, 1 error occurred.","errors":[{"path":"body.channel_properties.mobile_number","message":"JSON
        string doesn''t match the regular expression \"^\\\\+?[1-9]\\\\d{1,14}$\""}]}

'
  recorded_at: Mon, 21 Jun 2021 02:38:25 GMT
recorded_with: VCR 6.0.0
