---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/ewallets/charges
    body:
      encoding: UTF-8
      string: '{"reference_id":"eacd7788-8864-421c-a39c-9c59c3ee875c","currency":"IDR","amount":4000,"checkout_method":"ONE_TIME_PAYMENT","channel_code":"ID_OVO","channel_properties":{"mobile_number":"+6282310202012"}}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-9517159-9514078 pNYy RT(1624244003604 60) q(0 0 0 -1) r(13 13) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"DUPLICATE_ERROR","message":"There is already a charge
        request with the same reference_id."}

'
  recorded_at: Mon, 21 Jun 2021 02:53:25 GMT
recorded_with: VCR 6.0.0
