---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/reports
    body:
      encoding: UTF-8
      string: '{"type":"BALANCE_HISTORY","filter":{"from":"2021-01-23T04:01:55.574Z","to":"2021-06-23T04:01:55.574Z"}}'
    headers:
      Authorization: FILTERED_AUTH_KEY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e-W6vSGeDWB+/8eDqulhtM4kaAP6c"
      Rate-Limit-Limit:
      - '3000'
      Rate-Limit-Remaining:
      - '2999'
      Rate-Limit-Reset:
      - '59.999'
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 17-50796179-50781806 pNYN RT(1684743643997 11) q(0 0 0 -1) r(11 11) U6
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Date range is bigger than current maximum range","error":"DATE_RANGE_TOO_BIG","error_code":"DATE_RANGE_TOO_BIG","status_code":400}'
  recorded_at: Mon, 22 May 2023 08:20:45 GMT
recorded_with: VCR 6.0.0
