---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/reports
    body:
      encoding: UTF-8
      string: '{"type":"BALANCE_HISTORY"}'
    headers:
      Authorization: FILTERED_AUTH_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"140-IihD2ityro7La9jfgsp8g/dhuRQ"
      Rate-Limit-Limit:
      - '3000'
      Rate-Limit-Remaining:
      - '2998'
      Rate-Limit-Reset:
      - '19.546'
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 18-63598865-63025188 pNYN RT(1684743259983 13) q(0 0 0 -1) r(12 12) U6
    body:
      encoding: ASCII-8BIT
      string: '{"id":"report_a832c748-09f8-407e-ae01-0b56aa524113","type":"BALANCE_HISTORY","status":"PENDING","filter":{"from":"2023-05-21T08:14:21.372Z","to":"2023-05-22T08:14:21.372Z"},"format":"CSV","currency":"IDR","business_id":"596d988e56b5a3c45be75e6e","created":"2023-05-22T08:14:21.371Z","updated":"2023-05-22T08:14:21.371Z"}'
  recorded_at: Mon, 22 May 2023 08:14:21 GMT
recorded_with: VCR 6.0.0
