---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/reports
    body:
      encoding: UTF-8
      string: '{"type":"BALANCE_HISTORY"}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0FPUXJ5b1ExSjVTelNGek1FSjI0c1lxV1VEdWNEZmVLVnpqSWJ0ZWdMWUs3dDFZc0J3NEpNbTlIOUxIdm06
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"140-EqcZL5vaH57J54g3KctZ/frIeVM"
      Rate-Limit-Limit:
      - '3000'
      Rate-Limit-Remaining:
      - '2999'
      Rate-Limit-Reset:
      - '60'
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 15-22063391-21951475 pNYN RT(1684732964348 13) q(0 0 0 0) r(13 13) U6
    body:
      encoding: ASCII-8BIT
      string: '{"id":"report_e97da496-fd16-44be-a1bb-e76e4a702d7d","type":"BALANCE_HISTORY","status":"PENDING","filter":{"from":"2023-05-21T05:22:45.850Z","to":"2023-05-22T05:22:45.850Z"},"format":"CSV","currency":"IDR","business_id":"596d988e56b5a3c45be75e6e","created":"2023-05-22T05:22:45.849Z","updated":"2023-05-22T05:22:45.849Z"}'
  recorded_at: Mon, 22 May 2023 05:22:46 GMT
recorded_with: VCR 6.1.0
