---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"4e63ea46-79ea-4477-a1aa-2399e661e94b","amount":15000,"bank_code":"NOT_FOUND","account_holder_name":"Bob
        Jones","account_number":"1111111111","description":null}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"55-EnrT8P+QMbKKKS2GunBX34WsUeg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 4-23730259-23686671 pNYN RT(1587089899738 16) q(0 0 0 -1) r(5 5) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"DIRECT_DISBURSEMENT_BALANCE_INSUFFICIENT_ERROR","message":"create manual the vcr"}'
  recorded_at: Fri, 17 Apr 2020 02:18:20 GMT
recorded_with: VCR 4.0.0
