---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"dfa35750-eb04-4193-b532-6eefcd16fc9e","amount":9000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","account_number":"1111111111","description":"raise mininum limit error"}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0lNN2NzeUc0bTNjeVBPVWJwUG02VU51MHozWmtBZXNGR3dnbXVjdXk4NFBRS1NSS2xuWUdlNllqMkphNVVtQjo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"107-hq6zOz1DuQtzFsS5qGRmX56lu6I"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 5-31419843-31419847 nNNN RT(1587090960155 41) q(0 0 4 0) r(6 9) U6
    body:
      encoding: ASCII-8BIT
      string: '{"status":"PENDING","user_id":"596d988e56b5a3c45be75e6e","external_id":"dfa35750-eb04-4193-b532-6eefcd16fc9e","amount":9000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","disbursement_description":"raise mininum limit error","id":"5e9916117547f00016613fe9"}'
  recorded_at: Fri, 17 Apr 2020 02:36:01 GMT
recorded_with: VCR 4.0.0
