---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"ec6f7a75-2ec5-441a-b079-7d642a6352b6","amount":15000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","account_number":"1111111111","disbursement_description":"Payment"}'
    headers:
      For-User-Id:
      - 5785e6334d7b410667d355c4
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"102-ZUSQSJzcs7J5oIOrOhVkYAGkOz0"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 14-32976035-32827287 pNNN RT(1587026457060 16) q(0 0 0 0) r(6 6) U6
    body:
      encoding: ASCII-8BIT
      string: '{"status":"PENDING","user_id":"596d988e56b5a3c45be75e6e","external_id":"7eef4979-190c-4c89-9fa8-9b78ee26f8c4","amount":15000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","disbursement_description":"sample disbursement","id":"5e981a1a7547f00016613fc3"}'
  recorded_at: Tue, 20 Dec 2022 10:12:01 GMT
recorded_with: VCR 6.0.0
