---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"45c454fa-7fa5-44a9-a8a0-153f8548b6d9","amount":10000000,"bank_code":"MANDIRI","account_holder_name":"Sutiono","account_number":"868686","disbursement_description":"sample
        disbursement"}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"107-gNIqqEF/o10rc0PiyA2bDaLXVzg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-35378674-35378675 NNYY CT(221 222 0) RT(1677554220826 13) q(0 0 0 -1) r(2
        2) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"INSUFFICIENT_BALANCE","message":"Insufficient balance"}'
  recorded_at: Tue, 28 Feb 2023 03:17:01 GMT
recorded_with: VCR 6.0.0
