---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"a7ff7a1e-ca8d-483e-9c17-86c48ff2082d","amount":500000,"bank_code":"BCA","account_holder_name":"Bob","account_number":"1234567890","description":"Disbursement
        PT. Jurnal 20-01-2020"}'
    headers:
      Authorization:
      - Basic eG5kX2RldmVsb3BtZW50X0lNN2NzeUc0bTNjeVBPVWJwUG02VU51MHozWmtBZXNGR3dnbXVjdXk4NFBRS1NSS2xuWUdlNllqMkphNVVtQjo=
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10c-eDNH0ou8BqIWdGixUGWdsgq3GDw"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 13-26309917-26276483 pNNN RT(1595407154334 86) q(0 0 0 -1) r(4 4) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"SERVER_ERROR","message":"Internal Server Error"}'
  recorded_at: Mon, 20 Jan 2020 00:00:00 GMT
recorded_with: VCR 5.1.0
