---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"99a23309-b82d-49ce-ab73-c875859b1791","amount":100000,"bank_code":"BCA","account_holder_name":"Bob
        Jones","account_number":"123","disbursement_description":"sample disbursement"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"66-mI3LaK77IMtjhD/Fk1TwisW20CI"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 4-23937682-23924889 pNYN RT(1587093878591 14) q(0 0 0 -1) r(5 5) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"RECIPIENT_AMOUNT_ERROR","message":"Recipient amount error"}'
  recorded_at: Fri, 17 Apr 2020 03:24:39 GMT
recorded_with: VCR 4.0.0
