---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"7acdf0bf-1311-473e-8d17-8dba0ce4b2f9","amount":10000000,"bank_code":"MANDIRI","account_holder_name":"Budi","account_number":"8787878","disbursement_description":"sample
        disbursement"}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"107-gNIqqEF/o10rc0PiyA2bDaLXVzg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 7-15887275-15887033 PNYN RT(1677554219959 15) q(0 0 0 -1) r(3 3) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"REJECTED_BY_BANK","message":"Rejected by bank error"}'
  recorded_at: Tue, 28 Feb 2023 03:17:00 GMT
recorded_with: VCR 6.0.0
