---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"7eaf7911-7818-430c-8a1b-e8c849594d8b","amount":10000000,"bank_code":"MANDIRI","account_holder_name":"Siti","account_number":"12121212","disbursement_description":"sample
        disbursement"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"107-gNIqqEF/o10rc0PiyA2bDaLXVzg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-19417931-19417936 NNYN CT(210 425 0) RT(1677552668459 13) q(0 0 7 1) r(9
        9) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"SWITCHING_NETWORK_ERROR","message":"Switching network error"}'
  recorded_at: Tue, 28 Feb 2023 02:51:09 GMT
recorded_with: VCR 6.0.0
