---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"c1262e65-0e3f-4e23-96ce-2a597ad5759c","amount":10000000,"bank_code":"MANDIRI","account_holder_name":"Yono","account_number":"321321321","disbursement_description":"sample
        disbursement"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"107-gNIqqEF/o10rc0PiyA2bDaLXVzg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-35351851-35280242 pNYN RT(1677553959202 14) q(0 0 0 -1) r(2 2) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"TEMPORARY_BANK_NETWORK_ERROR","message":"Temporary bank network error"}'
  recorded_at: Tue, 28 Feb 2023 03:12:39 GMT
recorded_with: VCR 6.0.0
