---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"3c26c4d8-de8e-4245-bdfa-6bc78dd101cb","amount":10000000,"bank_code":"MANDIRI","account_holder_name":"Sutiono","account_number":"868686","disbursement_description":"sample
        disbursement"}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"107-gNIqqEF/o10rc0PiyA2bDaLXVzg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-19518855-19518558 PNYy RT(1677554220535 11) q(0 0 0 -1) r(2 2) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"TEMPORARY_TRANSFER_ERROR","message":"Temporary transfer error"}'
  recorded_at: Tue, 28 Feb 2023 03:17:00 GMT
recorded_with: VCR 6.0.0
