---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"dbf1568c-4a78-48fe-be6d-1688f14e3a0e","amount":10000000,"bank_code":"MANDIRI","account_holder_name":"Adnin","account_number":"1351357","disbursement_description":"sample
        disbursement"}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"107-gNIqqEF/o10rc0PiyA2bDaLXVzg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 1-6760607-6760608 NNYY CT(221 223 0) RT(1677554220257 11) q(0 0 0 -1) r(3
        3) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"TRANSFER_ERROR","message":"Transfer error"}'
  recorded_at: Tue, 28 Feb 2023 03:17:00 GMT
recorded_with: VCR 6.0.0
