---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/disbursements
    body:
      encoding: UTF-8
      string: '{"external_id":"4326f505-2ab6-412e-914a-196c0e0f3d5b","amount":10000000,"bank_code":"MANDIRI","account_holder_name":"Andri","account_number":"987654321","disbursement_description":"sample
        disbursement"}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"107-gNIqqEF/o10rc0PiyA2bDaLXVzg"
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-35319924-35092669 pNYN RT(1677553657882 13) q(0 0 0 0) r(3 3) U6
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"UNKNOWN_BANK_NETWORK_ERROR","message":"Unknown bank network error"}'
  recorded_at: Tue, 28 Feb 2023 03:07:38 GMT
recorded_with: VCR 6.0.0
