---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/v2/invoices
    body:
      encoding: UTF-8
      string: '{"external_id":null,"amount":100000}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de-K+pO6hvykqXICBT0yPVyKX3M1XE"
      Rate-Limit-Limit:
      - '3000'
      Rate-Limit-Remaining:
      - '2998'
      Rate-Limit-Reset:
      - '58.039'
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 17-27528828-27522522 pNYN RT(1674314041639 9) q(0 0 0 -1) r(11 11) U6
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid input data. Please check your request","error_code":"API_VALIDATION_ERROR","errors":[{"field":["external_id"],"location":"body","messages":["\"external_id\"
        must be a string"],"types":["string.base"]}]}'
  recorded_at: Sat, 21 Jan 2023 15:14:03 GMT
recorded_with: VCR 6.0.0
