---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/v2/invoices
    body:
      encoding: UTF-8
      string: '{"external_id":"eacd7788-8864-421c-a39c-9c59c3ee875c","amount":100000}'
    headers:
      Authorization:
      - Basic <AUTH KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6b8-NQO0gF5rdCKf1DUUMM0fPFxdqT8"
      Rate-Limit-Limit:
      - '3000'
      Rate-Limit-Remaining:
      - '2999'
      Rate-Limit-Reset:
      - '60'
      Surrogate-Control:
      - no-store
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 17-27528669-27522522 pNYN RT(1674314039680 13) q(0 0 0 0) r(19 19) U6
    body:
      encoding: ASCII-8BIT
      string: '{"id":"63cc01390d8fc0b926efa2bb","external_id":"eacd7788-8864-421c-a39c-9c59c3ee875c","user_id":"614726785b5db94a38bb48b0","status":"PENDING","merchant_name":"Tanamangenic","merchant_profile_picture_url":"https://du8nwjtfkinx.cloudfront.net/xendit.png","amount":100000,"expiry_date":"2023-01-22T15:14:01.410Z","invoice_url":"https://checkout-staging.xendit.co/web/63cc01390d8fc0b926efa2bb","available_banks":[{"bank_code":"MANDIRI","collection_type":"POOL","transfer_amount":100000,"bank_branch":"Virtual
        Account","account_holder_name":"TANAMANGENIC","identity_amount":0},{"bank_code":"BRI","collection_type":"POOL","transfer_amount":100000,"bank_branch":"Virtual
        Account","account_holder_name":"TANAMANGENIC","identity_amount":0},{"bank_code":"BNI","collection_type":"POOL","transfer_amount":100000,"bank_branch":"Virtual
        Account","account_holder_name":"TANAMANGENIC","identity_amount":0},{"bank_code":"PERMATA","collection_type":"POOL","transfer_amount":100000,"bank_branch":"Virtual
        Account","account_holder_name":"TANAMANGENIC","identity_amount":0},{"bank_code":"BCA","collection_type":"POOL","transfer_amount":100000,"bank_branch":"Virtual
        Account","account_holder_name":"TANAMANGENIC","identity_amount":0}],"available_retail_outlets":[{"retail_outlet_name":"ALFAMART"},{"retail_outlet_name":"INDOMARET"}],"available_ewallets":[{"ewallet_type":"OVO"},{"ewallet_type":"DANA"},{"ewallet_type":"SHOPEEPAY"},{"ewallet_type":"LINKAJA"}],"available_qr_codes":[{"qr_code_type":"QRIS"}],"available_direct_debits":[{"direct_debit_type":"DD_BRI"}],"available_paylaters":[],"should_exclude_credit_card":false,"should_send_email":false,"created":"2023-01-21T15:14:02.182Z","updated":"2023-01-21T15:14:02.182Z","currency":"IDR"}'
  recorded_at: Sat, 21 Jan 2023 15:14:02 GMT
recorded_with: VCR 6.0.0
